@model ApplicationUser

<div class="form-group">
    <label asp-for="@Model.UserName" class="col-form-label"></label>
    <input asp-for="@Model.UserName" class="form-control" />
    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
</div>