
<div class="row">
    <div class="cal-6">
        <form asp-action="Create" asp-controller="Department">
            <partial name="PartialViews/CreateUpdatePartialView" />
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
    </div>
</div>