@model ApplicationUser
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update User</h1>
<br />
<br />

<div class="row">
    <div class="cpl-6">
        <form asp-action="Update" asp-controller="Users">
            <input hidden asp-for="Id"/>
            <partial name="PartialViews/CreateUpdatePartialView" model="@Model" />

            <br />

            <input type="submit" value="Save" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}