@model SignInViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Login">
            <input class="text email" type="email" asp-for="@Model.Email" placeholder="Email" required />
            <input class="text" type="password" asp-for="@Model.Password" placeholder="Password" required />
            <div class="wthree-text mt-3">
                <label class="anim">
                    <input type="checkbox" asp-for="@Model.RememberMe" class="checkbox" />
                    <span>Remember Me</span>
                </label>
                <div class="clear"></div>
            </div>
            <input type="submit" value="SignIn"/>
        </form>
        <div class="row justify-content-between">
            <div class="col-6">
                <p>You Don't Have an Account? <a asp-action="SignUp">Register Now!</a></p>
            </div>
            <div class="col-6 mt-3">
                <p>
                    <a asp-action="ForgetPassword" asp-controller="Account">Forget Password?</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}